In [ ]:
# Import libraries
import mysql.connector
import pandas as pd
pd.options.display.max_rows = None

In [ ]:
# CONNECT TO SQL DATABASE AND TURN TABLES INTO DATAFRAMES
# / First import pandas and mysql.connector /

# enter host, user, password and database name !
db = mysql.connector.connect(
host= "",
user= "",
passwd= "",
database= ""
)

# function to turn any sql table into dataframe with column name
def createdb():

    table = input("TABLE: ")
    my_cursor = db.cursor()
    my_cursor.execute("SELECT* FROM {}".format(table))
    my_result = my_cursor.fetchall()
    cols = [col for col in my_cursor.column_names]
    tab = []
    for ent in my_result:
        tab.append(ent)
    return pd.DataFrame(tab, columns= cols)
#
createdb()